.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

#enTete {
    padding-bottom: 50px;
}

.titre {
    background-color: #0D3349;
    color: white;
    text-align: center;
    border: 2px solid black;
    padding: 20px;

}